@import ../variables

.quiz-checkbox
    &__fake
        width: 30px
        height: 30px
        flex-shrink: 0
        border: 2px solid var(--quiz-input1, --quiz-white)
        background-color: var(--quiz-input1, --quiz-white)
        position: relative
        transition: border-color .2s ease-in
        &::after, &::before
            content: ''
            display: none
            position: absolute
            top: 50%
            left: 50%
            height: 5px
            background-color: var(--quiz-input2, --quiz-accent)
        &::after
            width: 12px
            transform: translate(-83%, -16%) rotate(45deg)
        &::before
            width: 17px
            transform: translate(-37%, -50%) rotate(-45deg)
    &__text
        line-height: 1.3em
    &__input:checked + &__fake
        &::after, &::before
            display: block
